<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="copyright">
    <div style="background: #515151">
        <div class="footerUp contain">
            <img src="/static/huayao/images/huayao-logo.png" class="footerLogo fl"/>
            <div class="footerUp__info fl" style="margin-right: 154px;">
                <p><span class="footerUp__infoT">Contact</span>+86-0510-88767887</p>
                <p><span class="footerUp__infoT"> Fax</span>+86-0510-88767887</p>
                <p><span class="footerUp__infoT">Email </span>info@hydppd.com</p>
            </div>
            <div class="footerUp__info fl">
                <div class="fl" style="margin-right: 14px;"><span>Address</span></div>
                <div class="fl">
                    <p>Donggang Town, </p>
                    <p>Xishan District, Wuxi, </p>
                    <p>Jiangsu Province</p>
                </div>
            </div>
        </div>
        <div class="footerDown contain">
            <span>Our service team will assist you in obtaining more resources and services.</span>
        </div>
    </div>
</div>
</body>
</html>