<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="row clearfix">
    <div class="col-md-12 column">

        <!-- nav -->
        <div th:replace="common/nav :: nav"></div>
    </div>
</div>
<div class="container" id="product-container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>保护区</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>名称</th>
                    <th>编号</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="zone:${protectionZones}">
                    <td th:text="${zone.id}"></td>
                    <td th:text="${zone.name}"></td>
                    <td th:text="${zone.code}"></td>
                    <td><a th:href="'/protectionZone/form/'+${zone.id}">编辑</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<script src="/static/lib/jquery/jquery-3.3.1.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</html>