<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>image space</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--<link rel="shortcut icon" href="/static/img/favicon.ico">-->
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <!--<div class="row">-->
            <!--<div class="col-md-4 column" th:each="attachment : ${attachments}">-->
            <!--<img style="width:250px;margin:15px;" th:src="${attachment.remotePath}" alt=""/>-->
            <!--</div>-->
            <!--</div>-->

            <div class="col-md-3" th:each="attachment:${attachments}">
                <div class="thumbnail">
                    <img alt="300x200" th:src="${attachment.remotePath}"/>
                    <div class="caption">
                        <h5 th:text="${attachment.name}">Thumbnail label</h5>
                        <p>
                            <button th:id="${attachment.id}" class="btn"
                                    th:data-clipboard-text="${attachment.remotePath}">复制链接
                            </button>
                            <a class="btn" href="#">删除</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/static/lib/jquery/jquery-3.3.1.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/lib/mansory/src/mp.mansory.js"></script>
<script src="/static/lib/clipboard/clipboard.js"></script>
<script>
    $(function () {
        $("#my-gallery-container").mpmansory();

        $('.btn').tooltip({
            trigger: 'click',
            placement: 'bottom'
        });

        function setTooltip(id, message) {
            $("#" + id).tooltip('hide')
                .attr('data-original-title', message)
                .tooltip('show');
        }

        function hideTooltip(id) {
            setTimeout(function () {
                $("#" + id).tooltip('hide');
            }, 1000);
        }

        // Clipboard

        var clipboard = new Clipboard('.btn');

        clipboard.on('success', function (e) {
            setTooltip(e.trigger.id, '复制成功!');
            hideTooltip(e.trigger.id);
        });

        clipboard.on('error', function (e) {
            setTooltip(e.trigger.id, '复制失败!');
            hideTooltip(e.trigger.id);
        });
    });
</script>
</html>