<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="nav">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="/">首页</a>
        </li>
        <li>
            <a href="/protectionZone/list">保护区</a>
        </li>
        <li class="disabled">
            <a href="/shelter/list">保卫站</a>
        </li>
        <li class="disabled">
            <a href="/patrolRoute/list">巡逻路线</a>
        </li>
        <li class="disabled">
            <a href="/collectionPoint/list">采集点</a>
        </li>
        <li class="disabled">
            <a href="/device/list">设备</a>
        </li>
        <li class="disabled">
            <a href="/user/list">工作人员</a>
        </li>
        <li class="dropdown pull-right">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">下拉<strong class="caret"></strong></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#">操作</a>
                </li>
                <li>
                    <a href="#">设置栏目</a>
                </li>
                <li>
                    <a href="#">更多设置</a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="#">分割线</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
</body>
</html>