<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jump</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/jump.css">
</head>
<body>
<div class="mask">
    <div class="content">
        <div class="score-container">
            <h1 class="title">本次得分</h1>
            <p class="score">0</p>
        </div>
        <button class="restart">
            重新开始
        </button>
    </div>
</div>
<div class="info">
    <a class="title" href="https://github.com/luosijie/threejs-examples" target="_blank">
        Jump
        </h3>
        <a class="author" href="https://luosijie.github.io/" target="_blank">
            Created By Jesse Luo
        </a>
        <div class="score-gaming">
            得分：<span class="score-current">0</span>
        </div>
    </a>
</div>
<script src="/static/script/lib/threejs/three.min.js"></script>
<script src="/static/script/game.js"></script>
<script src="/static/script/main.js"></script>
</body>
</html>