<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title></title>
    <meta name="keywords" th:content="${product.seoKeywords}">
    <!--<meta name=”description” th:content="${product.description}"/>-->
    <link rel="stylesheet" type="text/css" href="/static/huayao/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/static/huayao/css/index.css"/>
</head>

<body>
<div class="contain">
    <div class="headBar">
        <img class="bigLogo" src="/static/huayao/images/huayao-logo-big.png"/>
        <div class="languageSwitch fr">
            <span class="lang on" lang="">中文</span>
            <span style="margin: 0 12px;">|</span>
            <span class="lang" lang="en">English</span>
        </div>
    </div>
</div>
<div class="backBar contain">
    <a th:href="${'/?lang='+lang}">
        <div class="backBarBtn fr">HOME</div>
    </a>
</div>
<div class="mainInfo">
    <div class="mainInfoBar"></div>
    <div class="mainInfoBar__list" id="productSelect">
        <div class="mainInfoBar__item on onStart" id="product_1">防老剂 HUAYAO<sup>®</sup> DPPD</div>
        <div class="mainInfoBar__item" id="product_2">防老剂 HUAYAO<sup>®</sup> DTPD</div>
        <div class="mainInfoBar__item" id="product_3">粘合剂 HUAYAO<sup>®</sup> RA</div>
        <div class="mainInfoBar__item" id="product_4">粘合剂 HUAYAO<sup>®</sup> RA-65</div>
    </div>
    <div>
        <div class="mainInfo__content clearfix">
            <div class="fl">
                <div class="showBar__item" style="width: 516px;">
                    <div>
                        <img class="showBar__pic" src="/static/huayao/images/1.png" style="margin-top: 0;"/>
                    </div>
                    <p>防老剂</p>
                    <div class="split"></div>
                    <p>HUAYAO<sup>®</sup> DPPD</p>
                    <p class="detailTxt detailTxt1">N,N'－二苯基对苯二胺</p>
                    <p class="detailTxt">CAS号：74-31-7</p>
                    <div>
                        <img class="showBar__pic2" src="/static/huayao/images/f1.png"/>
                    </div>
                </div>
            </div>
            <div class="fr mainInfo__contentR">
                <p><span>粗制</span></p>
                <p>外观：灰至浅棕色粉末</p>
                <p>熔点：≥135℃</p>
                <p>含量：≥80%</p>
                <p>灰份：≤0.4</p>
                <p>加热减量：≤0.4</p>
                <p style="margin-top: 40px;"><span>精制</span></p>
                <p>外观：灰至浅棕色粉末</p>
                <p>熔点：≥135℃</p>
                <p>含量：≥98%</p>
                <p>灰份：≤0.4</p>
                <p>加热减量：≤0.4</p>
                <p style="margin-top: 40px;"><span>用途</span></p>
                <p style="width: 720px;">
                    DPPD为一种抗氧化性能较强的胺类抗氧剂，除有一般胺类抗氧剂具有的对热、氧、光等使制品老化的因素有较强的防护性能外，特别也对臭氧和铜、锰等有害金属引致的老化具有明显的防护作用。</p>
                <p style="width: 720px;margin-top: 40px;">DPPD在制品中对环境热、氧、光、臭氧等侵害因素的防护作用良好，在氯丁橡胶中用作抗臭氧剂效果明显。</p>
                <p style="width: 720px;margin-top: 40px;">DPPD用于橡胶制品中，其抗屈挠性能和抗龟裂性能显著提高。</p>
                <p style="width: 720px;margin-top: 40px;">
                    DPPD广泛用于各种工业橡胶制品中，特别适用于各种汽车轮胎、摩托车轮胎、助力车轮胎等胎面胶中，也常用于各种胶带、传动带、传送带等，以及各种橡胶垫和电线电缆。生活用品也用于鞋底等制品。</p>
                <p style="width: 720px;margin-top: 40px;">
                    25kg牛皮纸袋内衬薄膜，存放在阴凉通风处。它的保质期为12个月。如果通过复验，达到标准，该产品可在指定日期后仍然使用。</p>
                <a href="/enquirel?productId=1">
                    <div class="enquire__btn">咨询</div>
                </a>
            </div>
        </div>
        <div class="mainInfo__content clearfix" style="display: none;">
            <div class="fl">
                <div class="showBar__item" style="width: 516px;">
                    <div>
                        <img class="showBar__pic" src="/static/huayao/images/2.png" style="margin-top: 0;"/>
                    </div>
                    <p>防老剂</p>
                    <div class="split"></div>
                    <p>HUAYAO<sup>®</sup> DTPD</p>
                    <p class="detailTxt detailTxt1">N，N'-二甲苯基 - 对苯二胺混合</p>
                    <p class="detailTxt">CAS号：68953-84-4</p>
                    <div>
                        <img class="showBar__pic2" src="/static/huayao/images/f2.png"/>
                    </div>
                </div>
            </div>
            <div class="fr mainInfo__contentR">
                <p><span>项目指标</span></p>
                <p>外观：棕灰色颗粒</p>
                <p>细度：≥100℃</p>
                <p>熔点（DSC）℃：93-101</p>
                <p>(B3)N,N’-二苯基对苯二胺含量%：16-24</p>
                <p>(B4)N,N’-邻甲苯基对苯二胺含量%：15-23</p>
                <p>(B5)N-苯基-N’-邻甲苯基对苯二胺含量%：36-44</p>
                <p>总B3+B4+B5含量%:≥80</p>
                <p>二苯胺含量%：≤6</p>
                <p>铁离子ppm：≤750</p>

                <p style="margin-top: 40px;"><span>用途</span></p>
                <p style="width: 720px;">抗氧化剂DTPD（3100），其可以分成P-亚苯基抗氧化剂基团，是一种很好的用于氯丁橡胶的抗臭氧剂。它被广泛应用于轮胎工业和橡胶制品。</p>
                <p style="width: 720px;">1.DTPD可以抵抗臭氧。它的抗屈挠龟裂效果和臭氧层保护能力类似于防老剂4010 NA和4020。</p>
                <p style="width: 720px;">2.DTPD与4020或4010 NA专门混合，可有效延长轮胎的使用寿命。防老剂4020和4010 NA提供短期的保护，同时DTPD提供了长期保护。</p>
                <p style="width: 720px;">3.DTPD对硫化没有影响。它适用于卡车轮胎，现成的道路轮胎，斜交轮胎和被用在严峻环境的径向线网层轮胎。</p>
                <p style="width: 720px;">4.DTPD还可以修复由于防老剂4010 NA和4020使轮胎变成红色的不足。</p>
                <p style="width: 720px;margin-top: 40px;">25kg复合纸袋内衬薄膜，运输过程中防止高温，太阳烤焦和雨淋浇湿</p>
                <a href="/enquirel?productId=2">
                    <div class="enquire__btn">咨询</div>
                </a>
            </div>
        </div>
        <div class="mainInfo__content clearfix" style="display: none;">
            <div class="fl">
                <div class="showBar__item" style="width: 516px;">
                    <div>
                        <img class="showBar__pic" src="/static/huayao/images/3.png" style="margin-top: 0;"/>
                    </div>
                    <p>粘合剂</p>
                    <div class="split"></div>
                    <p>HUAYAO<sup>®</sup> RA</p>
                </div>
            </div>
            <div class="fr mainInfo__contentR">
                <p><span>粘合剂RA</span></p>
                <p style="width: 720px;">粘合剂RA是直接粘合间、甲、白粘合体系粘合剂，是性能优良的次甲基给予体，与甲醛接受体RS/RH/RE配合使用，适用于多种橡胶与多种骨架的粘合之用。</p>

                <p style="margin-top: 40px;"><span>特性</span></p>
                <p>灰份：（850℃±25℃）30-38%</p>
                <p>加热减量：（105±2℃，2h）≤4.5%</p>
                <p>水份：（共沸法）≤4.5%</p>
                <p>筛余物：（325目，湿法）≤0.3%</p>
                <p>游离甲醛含量：≤0.1%</p>

                <p style="margin-top: 40px;"><span>用途</span></p>
                <p style="width: 720px;">白色粉末，计量准确，贮存方便，分散性优良</p>
                <p style="width: 720px;">本品在橡胶混炼时加入，通过硫化就能获得良好的粘合效果</p>
                <p style="width: 720px;">本品适用性广，适用于多种橡胶与多种骨架材料粘合之用</p>
                <p style="width: 720px;">一般用量3-4份，可根据粘合要求适当增减</p>
                <p style="width: 720px;margin-top: 40px;">25kg塑料袋，外用编织袋，本品不燃不爆、不腐蚀、无毒，按一般化工原料贮运。贮存于通风、阴凉仓库内。</p>
                <p style="width: 720px;">贮存期一年。</p>

                <a href="/enquirel?productId=3">
                    <div class="enquire__btn">咨询</div>
                </a>
            </div>
        </div>
        <div class="mainInfo__content clearfix" style="display: none;">
            <div class="fl">
                <div class="showBar__item" style="width: 516px;">
                    <div>
                        <img class="showBar__pic" src="/static/huayao/images/4.png" style="margin-top: 0;"/>
                    </div>
                    <p>粘合剂</p>
                    <div class="split"></div>
                    <p>HUAYAO<sup>®</sup> RA-65</p>
                </div>
            </div>
            <div class="fr mainInfo__contentR">
                <p><span>特性</span></p>
                <p>外观：白色粉末，带甲醛气味</p>
                <p>水份：（共沸蒸馏法）≤4.5%</p>
                <p>筛余物：（325目湿法）≤0.3%</p>
                <p>灰份：（850℃）29-35%</p>

                <p style="margin-top: 40px;"><span>用途</span></p>
                <p style="width: 720px;">白色粉末，计量准确，贮存方便，分散性优良，本品在橡胶混炼时加入，通过硫化就能获得良好的粘合效果。</p>
                <p style="width: 720px;">本品适用性广，适用于多种橡胶与多种骨架材料粘合之用，主要用于橡胶与钢丝帘线的粘合。一般用量3-7份，可根据粘合要求适当增减。</p>
                <p style="width: 720px;margin-top: 40px;">本品用塑料袋包装，外用编织袋，每袋25kg。本品不燃不爆、不腐蚀、无毒。按一般化工原料贮存，贮存于通风、阴凉库房内。</p>
                <p style="width: 720px;">贮存期一年。</p>

                <a href="/enquirel?productId=4">
                    <div class="enquire__btn">咨询</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div th:replace="huayao/footer :: copyright">
    <div style="background: #515151">
        <div class="footerUp contain">
            <img src="/static/huayao/images/huayao-logo.png" class="footerLogo fl"/>
            <div class="footerUp__info fl" style="margin-right: 154px;">
                <p><span class="footerUp__infoT">工作时间联系方式</span>+86 0510 88767887</p>
                <p><span class="footerUp__infoT"> 传真</span>+86 0510 88762603</p>
                <p><span class="footerUp__infoT">邮箱 </span>liye@huayao-chem.com</p>
            </div>
            <div class="footerUp__info fl">
                <div class="fl" style="margin-right: 14px;"><span>地址   </span></div>
                <div class="fl">
                    <p>江苏省</p>
                    <p>无锡市锡山区</p>
                    <p>东港镇</p>
                </div>
            </div>
        </div>
        <div class="footerDown contain">
            <span style="color: #23aae5;margin-right: 36px;">我们的服务</span>
            <span style="color: #9B9EA0;margin-right: 12px;">我们的产品优势</span>
            <span>  独立的生产，交货及时，质量保证，产品多样化，广为流行，独特而实用。顾客至上，诚信为本，是不可改变的创业初衷和理念</span>
        </div>
    </div>
</div>

<input type="hidden" id="productId" th:value="${product.id}"/>
<div class="toTop"></div>
<script src="/static/huayao/js/jquery-1.11.1.min.js"></script>
<script src="/static/script/application.js"></script>
<script type="text/javascript">
    (function () {
        var $toTop = $('.toTop');
        var $mainInfoBar__item = $('.mainInfoBar__item');
        var $mainInfo__content = $('.mainInfo__content');
        $mainInfoBar__item.on('click', function () {
            if ($(this).hasClass('on')) return
            else {
                var index = $(this).index()
                $mainInfo__content.eq(index).show().siblings().hide()
                switch (index) {
                    case 0:
                        $(this).addClass('onStart').siblings().removeClass('on onEnd onStart onMid');
                        break;
                    case 3:
                        $(this).addClass('onEnd').siblings().removeClass('on onEnd onStart onMid');
                        break;
                    default:
                        $(this).addClass('onMid').siblings().removeClass('on onEnd onStart onMid');
                        break;
                }
            }
        });

        var productId = $("#productId").val();

        if (productId != "") {
            $("#product_" + productId).trigger("click");
        }


        $(window).on("scroll", function () {
            if ($(this).scrollTop() >= 500) {
                $toTop.fadeIn();
            } else {
                $toTop.fadeOut();
            }
        });

        $toTop.on('click', function () {
            $(window).scrollTop(0)
        });
    })();
</script>
</body>

</html>