<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>华耀化学-防老剂H–使用注意事项</title>
    <meta name="keywords" content="防老剂DPPD, 防老剂H,N,N′-二苯基对苯二胺,N,N′-diphenyl-p-phenylenediamine">
    <meta name="description" content="华耀化学-1992年8月8日开始生产防老剂H（DPPD），DPPD广泛用于各种工业橡胶制品中，特别适用于各种汽车轮胎、摩托车轮胎、助力车轮胎等胎面胶中，也常用于各种胶带、传动带、传送带等，以及各种橡胶垫和电线电缆。生活用品也用于鞋底等制品。不过每一种防老剂的防护作用都有其局限性，而橡胶制品在实际使用过程中，其老化因素十分繁多复杂，单一的防老剂难以地满足橡胶制品的防护要求，所以实际使用时一般都是两种或两种以上的防老剂并用才会发挥良好的防护效能。" />
    <link rel="shortcut icon" href="/static/huayao/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/huayao/css/reset.css?v=05091425"/>
    <link rel="stylesheet" type="text/css" href="/static/huayao/css/index.css?v=05091425"/>
</head>

<body>
<header>
</header>
<div class="contain">
    <div class="headBar">
        <img class="bigLogo" src="/static/huayao/images/huayao-logo-big.png"/>
        <div class="languageSwitch fr">
            <span class="lang on" lang="">中文</span>
            <span style="margin: 0 12px;">|</span>
            <span class="lang" lang="en">English</span>
        </div>
    </div>
</div>
<div class="backBar contain">
    <a href="/huayaodppd/flj">
        <div class="backBarBtn fr" style="background: none;margin-left: 10px;">防老剂H详情</div>
    </a>
    <a href="/dppd?lang=">
        <div class="backBarBtn fr" style="margin-left: 10px;">防老剂H</div>
    </a>
    <a href="/">
        <div class="backBarBtn fr">主页</div>
    </a>
</div>
<div class="mainInfo">
    <div class="mainInfoBar"></div>
    <div class="mainInfoBar__list" id="productSelect">
        <div class="mainInfoBar__item on onStart" id="product_1">防老剂H–使用注意事项</div>
    </div>
    <div>
        <div class="mainInfo__content clearfix">
            <div class="fl news_content">
                <p>
                    华耀化学-1992年8月8日名为无锡县飞达橡胶助剂厂，并开始生产防老剂H（DPPD），防老剂H中文别名“防老剂H,N,N′-二苯基对苯二胺”，英文又叫“N′-diphenyl-p-phenylenediamine”，防老剂H为一种抗氧化性能较强的胺类抗氧剂，除有一般胺类抗氧剂具有的对热、氧、光等使制品老化的因素有较强的防护性能外，特别也对臭氧和铜、锰等有害金属引致的老化具有明显的防护作用。防老剂H广泛用于各种工业橡胶制品中，特别适用于各种汽车轮胎、摩托车轮胎、助力车轮胎等胎面胶中，也常用于各种胶带、传动带、传送带等，以及各种橡胶垫和电线电缆。生活用品也用于鞋底等制品。 
                </p>
                <p>
                    <img src="/static/huayao/images/flj3img2.png">
                    <img src="/static/huayao/images/flj3img1.png">
                </p>
                <p>
                    在选择防老剂有许多应注意的事项：
                </p>
                <p>
                    1、由于每种防老剂特点的不同，且不同胶料配方的老化性能不同，导致对某一橡料最有效的防老剂，可能对另一橡料无效甚至有害。所以，对防老剂选用必须根据各种橡料的老化性能、防老化要求以及各种防老剂的特性统筹考虑、合理选择。
                </p>
                <p>
                    2、当一种防老剂难以满足要求时，应采用两种或多种防老剂并用，使其产生协同作用，来确保防老化效果。
                </p>
                <p>
                    3、有些防老剂对橡皮有着色作用和污染现象。一般来说，酚类防老剂防护作用差，但不污染或污染极小。防护作用较高的胺类防老剂，都会使橡皮污染，变色严重。这些矛盾在选用时需要统筹考虑。
                </p>
                <p>
                    4、防老剂用量不可以超过在橡胶中的溶解度，以防止喷霜，污染橡皮表面质量。
                </p>
                <p>
                    5、胺类防老剂对橡料焦烧有不良影响；酚类防老剂能延迟硫化，在选用时应当注意。
                </p>
                <p>
                    6、防老剂本身会因氧化变色而失效或者带入杂色。
                </p>
            </div>
        </div>
    </div>
</div>
<div th:replace="huayao/footer :: copyright">
    <div style="background: #515151">
        <div class="footerUp contain">
            <img src="/static/huayao/images/huayao-logo.png" class="footerLogo fl"/>
            <div class="footerUp__info fl" style="margin-right: 154px;">
                <p><span class="footerUp__infoT">工作时间联系方式</span>+86 0510 88767887</p>
                <p><span class="footerUp__infoT"> 传真</span>+86 0510 88762603</p>
                <p><span class="footerUp__infoT">邮箱 </span>liye@huayao-chem.com</p>
            </div>
            <div class="footerUp__info fl">
                <div class="fl" style="margin-right: 14px;"><span>地址   </span></div>
                <div class="fl">
                    <p>江苏省</p>
                    <p>无锡市锡山区</p>
                    <p>东港镇</p>
                </div>
            </div>
        </div>
        <div class="footerDown contain">
            <span style="color: #23aae5;margin-right: 36px;">我们的服务</span>
            <span style="color: #9B9EA0;margin-right: 12px;">我们的产品优势</span>
            <span>  独立的生产，交货及时，质量保证，产品多样化，广为流行，独特而实用。顾客至上，诚信为本，是不可改变的创业初衷和理念</span>
        </div>
    </div>
</div>

<div class="toTop"></div>
<script src="/static/huayao/js/jquery-1.11.1.min.js?v=05091425"></script>
<script src="/static/script/application.js?v=05091425"></script>
<script type="text/javascript">
    (function () {
        var $toTop = $('.toTop');
        var $mainInfoBar__item = $('.mainInfoBar__item');
        var $mainInfo__content = $('.mainInfo__content');
        $mainInfoBar__item.on('click', function () {
            if ($(this).hasClass('on')) return
            else {
                var index = $(this).index()
                $mainInfo__content.eq(index).show().siblings().hide()
                switch (index) {
                    case 0:
                        $(this).addClass('onStart').siblings().removeClass('on onEnd onStart onMid');
                        break;
                    case 3:
                        $(this).addClass('onEnd').siblings().removeClass('on onEnd onStart onMid');
                        break;
                    default:
                        $(this).addClass('onMid').siblings().removeClass('on onEnd onStart onMid');
                        break;
                }
            }
        });

        var productId = $("#productId").val();

        if (productId != "") {
            $("#product_" + productId).trigger("click");
        }


        $(window).on("scroll", function () {
            if ($(this).scrollTop() >= 500) {
                $toTop.fadeIn();
            } else {
                $toTop.fadeOut();
            }
        });

        $toTop.on('click', function () {
            $(window).scrollTop(0)
        });
    })();
</script>
</body>

</html>