<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="baidu-site-verification" content="HqqemuCdg8"/>
    <title>HuaYao</title>
    <link rel="shortcut icon" href="/static/huayao/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/huayao/css/reset.css?v=05091219"/>
    <link rel="stylesheet" type="text/css" href="/static/huayao/css/index.css?v=05091219"/>
</head>
<body>
<div class="contain">
    <div class="headBar" style="height: 270px;">
        <img class="bigLogo" src="/static/huayao/images/huayao-logo-big.png"/>
        <div class="languageSwitch fr">
            <span class="lang on" lang="">中文</span>
            <span style="margin: 0 12px;">|</span>
            <span class="lang" lang="en">English</span>
        </div>
    </div>
</div>
<div style="background-color: #EEEEEE;">
    <div class="showBar">
        <div class="contain">
            <div class="showBar__item fl">
                <div>
                    <img class="showBar__pic" src="/static/huayao/images/1.png"/>
                </div>
                <p>防老剂</p>
                <div class="split"></div>
                <p>HUAYAO<sup>®</sup> DPPD</p>
                <a href="/detail?productId=1&lang=">
                    <div class="showBar__btn">more</div>
                </a>
            </div>
            <div class="showBar__split fl"></div>
            <div class="showBar__item fl">
                <div>
                    <img class="showBar__pic" src="/static/huayao/images/2.png"/>
                </div>
                <p>防老剂</p>
                <div class="split"></div>
                <p>HUAYAO<sup>®</sup> DTPD</p>
                <a href="/detail?productId=2&lang=">
                    <div class="showBar__btn">more</div>
                </a>
            </div>
            <div class="showBar__split fl"></div>
            <div class="showBar__item fl">
                <div>
                    <img class="showBar__pic" src="/static/huayao/images/3.png"/>
                </div>
                <p>粘合剂</p>
                <div class="split"></div>
                <p>HUAYAO<sup>®</sup> RA</p>
                <a href="/detail?productId=3&lang=">
                    <div class="showBar__btn">more</div>
                </a>
            </div>
            <div class="showBar__split fl"></div>
            <div class="showBar__item fl">
                <div>
                    <img class="showBar__pic" src="/static/huayao/images/4.png"/>
                </div>
                <p>粘合剂</p>
                <div class="split"></div>
                <p>HUA YAO<sup>®</sup> RA-65</p>
                <a href="/detail?productId=4&lang=">
                    <div class="showBar__btn">more</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="timeBottom">
    <div class="timeLine">
        <div class="timeLine__item item1">
            <div class="timeLine__mark"></div>
            <div class="timeLine__txt">
                <p>1980年</p>
                <div>
                    江苏省无锡县港下建华纺织印染助剂厂成立，开始生产有机硅柔软剂SI-18、柔软剂HC、膨化剂OP
                </div>
            </div>
        </div>
        <div class="timeLine__item item2">
            <div class="timeLine__mark"></div>
            <div class="timeLine__txt">
                <p>1992年8月8日</p>
                <div>
                    更名为无锡县飞达橡胶助剂厂，开始生产防老剂H（DPPD）
                </div>
            </div>
        </div>
        <div class="timeLine__item item3">
            <div class="timeLine__mark"></div>
            <div class="timeLine__txt">
                <p>1993年</p>
                <div>
                    更名为无锡县华耀橡胶助剂厂
                </div>
            </div>
        </div>
        <div class="timeLine__item item4">
            <div class="timeLine__mark"></div>
            <div class="timeLine__txt">
                <p>1996年</p>
                <div>
                    开始生产分散剂FT-700
                </div>
            </div>
        </div>
        <div class="timeLine__item item5">
            <div class="timeLine__mark"></div>
            <div class="timeLine__txt">
                <p>2003年</p>
                <div>
                    2003年开始在盐城生产粘合体系间-甲-白（HRH），RA、RA65
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="huayao/footer :: copyright">
    <div style="background: #515151">
        <div class="footerUp contain">
            <img src="/static/huayao/images/huayao-logo.png" class="footerLogo fl"/>
            <div class="footerUp__info fl" style="margin-right: 154px;">
                <p><span class="footerUp__infoT">工作时间联系方式</span>+86 0510 88767887</p>
                <p><span class="footerUp__infoT"> 传真</span>+86 0510 88762603</p>
                <p><span class="footerUp__infoT">邮箱 </span>liye@huayao-chem.com</p>
            </div>
            <div class="footerUp__info fl">
                <div class="fl" style="margin-right: 14px;"><span>地址   </span></div>
                <div class="fl">
                    <p>江苏省</p>
                    <p>无锡市锡山区</p>
                    <p>东港镇</p>
                </div>
            </div>
        </div>
        <div class="footerDown contain">
            <span style="color: #23aae5;margin-right: 36px;">我们的服务</span>
            <span style="color: #9B9EA0;margin-right: 12px;">我们的产品优势</span>
            <span>  独立的生产，交货及时，质量保证，产品多样化，广为流行，独特而实用。顾客至上，诚信为本，是不可改变的创业初衷和理念</span>
        </div>
    </div>
</div>
</body>
<script src="/static/huayao/js/jquery-1.11.1.min.js?v=05091219"></script>
<script src="/static/script/application.js?v=05091219"></script>
</html>