<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="baidu-site-verification" content="6no1FC59sJ"/>
    <meta name="360-site-verification" content="f6b54bafd356b8b2ec9efd544da859d9"/>
    <meta name="google-site-verification" content="vjEqCTEoRtl_imLPPhkyjMm8eYXsY-jQtH6VltTd-cQ"/>
    <meta name="msvalidate.01" content="F925597E561DB5473D734A55B21A33AA"/>
    <meta name="sogou_site_verification" content="0O3Ehe42gL"/>
    <title data-vue-meta="true">华耀化学-专业生产 防老剂 DPPD、防老剂 DTPD、防老剂H、粘合剂 RA、粘合剂 RA-65</title>
    <meta data-vue-meta="true" itemprop="keywords" name="keywords"
          content="防老剂 DPPD,防老剂 DTPD,防老剂H,粘合剂 RA,粘合剂 RA-65,橡胶材料,华耀化学">
    <meta data-vue-meta="true" itemprop="name" name="title" content="华耀化学-专业生产 防老剂 DPPD、防老剂 DTPD、防老剂H、粘合剂 RA、粘合剂 RA-65">
    <meta name="description"
          content="华耀化学-专业生产防老剂DPPD、防老剂 DTPD、粘合剂RA、粘合剂RA-65，橡胶粘合剂RA，橡胶粘合剂RA-65，防老剂H，间甲白橡胶助剂，间甲白体系粘合助剂等。"/>
    <link rel="shortcut icon" href="/static/huayao/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/huayao/css/reset.css?v=05091425"/>
    <link rel="stylesheet" type="text/css" href="/static/huayao/css/index_en.css?v=05091425"/>
</head>

<body>

<div class="contain">
    <div class="headBar">
        <img class="bigLogo" src="/static/huayao/images/huayao-logo-big.png"/>
        <div class="languageSwitch fr">
            <span class="lang on" lang="">中文</span>
            <span style="margin: 0 12px;">|</span>
            <span class="lang" lang="en">English</span>
        </div>
    </div>
</div>
<div class="backBar contain">
    <a th:href="${'/?lang='+lang}">
        <div class="backBarBtn fr">主页</div>
    </a>
</div>
<div class="mainInfo">
    <div class="mainInfoBar"></div>
    <div>
        <div class="mainInfo__content clearfix">
            <div class="mainInfo__contentR" style="padding-left: 300px;height:500px;">
                <p style="text-align: center;height: 80px;"><span style="font-size:40px;">公司简介</span></p>
                <p style="padding-left: 2rem;">无锡市华耀橡胶助剂厂创立于1992年，目前是生产橡胶（防老剂）H规模经营最大的专业生产厂家，产品</p>
                <p>以其优质优价远销日本及东南亚各国，同时深受国内各大橡胶集团的青睐。防老（抗氧）剂广泛用于各种工业</p>
                <p>橡胶制品中，特别适用于各种大型轮胎企业系列胎面胶中，通常用于各种胶带传动带、传送带以及各种橡胶垫</p>
                <p>和电线电缆具有防裂作用。 华耀承担我国载人航天工程研制建设相关协作配套任务，为神舟七号载人航天</p>
                <p>飞行圆满成功做出了贡献。于2012年8月再次为我国首次载人交会对接任务天宫一号、神舟九号和长征二号</p>
                <p>研制配套做出了贡献!</p>

                <br/>
            </div>

            <div class="mainInfo__content" style="padding-left: 300px;margin-top: -200px;">
                <div style="float: left;width: 770px;">
                    <img width="770px" class="showBar__pic2" src="/static/huayao/images/contact1.jpg"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="huayao/footer :: copyright">
    <div style="background: #515151">
        <div class="footerUp contain">
            <img src="/static/huayao/images/huayao-logo.png" class="footerLogo fl"/>
            <div class="footerUp__info fl" style="margin-right: 154px;">
                <p><span class="footerUp__infoT">工作时间联系方式</span>+86 0510 88767887</p>
                <p><span class="footerUp__infoT"> 传真</span>+86 0510 88762603</p>
                <p><span class="footerUp__infoT">邮箱 </span>liye@huayao-chem.com</p>
            </div>
            <div class="footerUp__info fl">
                <div class="fl" style="margin-right: 14px;"><span>地址   </span></div>
                <div class="fl">
                    <p>江苏省</p>
                    <p>无锡市锡山区</p>
                    <p>东港镇</p>
                </div>
            </div>
        </div>
        <div class="footerDown contain">
            <span style="color: #23aae5;margin-right: 36px;">我们的服务</span>
            <span style="color: #9B9EA0;margin-right: 12px;">我们的产品优势</span>
            <span>  独立的生产，交货及时，质量保证，产品多样化，广为流行，独特而实用。顾客至上，诚信为本，是不可改变的创业初衷和理念</span>
        </div>
    </div>
</div>

<div class="toTop"></div>
<script src="/static/huayao/js/jquery-1.11.1.min.js?v=05091425"></script>
<script src="/static/script/application.js?v=05091425"></script>
</body>

</html>