<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>邮件发送</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--<link rel="shortcut icon" href="/static/img/favicon.ico">-->
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<form class="form-inline">
    <div class="form-group">
        <label for="count">数量：</label>
        <input type="number" id="count" class="form-control"/>
    </div>
    <br/>
    <button type="button" class="btn btn-default" onclick="calculate()">计算</button>
    <hr/>
    <div class="form-group">
        <label for="generated-energy-I">每年发电量：</label>
        <div class="input-group">
            <input type="text" id="generated-energy-I" class="form-control" disabled/>
            <div class="input-group-addon">度</div>
        </div>
    </div>
    <div class="form-group">
        <label for="amount-B">投资成本：</label>
        <div class="input-group">
            <div class="input-group-addon">现金 ￥</div>
            <input type="text" id="amount-B" class="form-control" disabled/>
        </div>
        <div class="input-group">
            <div class="input-group-addon">贷款 ￥</div>
            <input type="text" id="amount-C" class="form-control" disabled/>
        </div>
    </div>
    <div class="form-group">
        <label for="five-earnings-D">前五年收益：</label>
        <div class="input-group">
            <div class="input-group-addon">现金 ￥</div>
            <input type="text" id="five-earnings-D" class="form-control" disabled/>
        </div>

        <div class="input-group">
            <div class="input-group-addon">贷款 ￥</div>
            <input type="text" id="five-earnings-E" class="form-control" disabled/>
        </div>
    </div>
    <div class="form-group">
        <label for="twenty-earnings-F">二十五年收益：</label>
        <div class="input-group">
            <div class="input-group-addon">现金 ￥</div>
            <input type="text" id="twenty-earnings-F" class="form-control" disabled/>
        </div>

        <div class="input-group">
            <div class="input-group-addon">贷款 ￥</div>
            <input type="text" id="twenty-earnings-G" class="form-control" disabled/>
        </div>
    </div>
</form>
<script src="/static/lib/jquery/jquery-3.3.1.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script>
    function calculate() {
        var _A = $("#count").val();
        var _B = parseInt(_A) * 270 * 7;
        var _C = parseInt(_A) * 270 * 7.5;
        $("#amount-B").val(_B);
        $("#amount-C").val(_C);
        var _J = 107.144 * _C * 0.006;
        var _H = parseInt(_A) * 365 * 0.85 * 20 * 0.88;
        var _D = parseInt(_A) * 365 * 0.95 * 5;
        var _E = parseFloat(_D) - 107.144 * parseFloat(_C) * 60 / 10000;
        var _F = parseFloat(_D) + parseFloat(_H);
        var _G = parseFloat(_D) + parseFloat(_H) - parseFloat(_J * 2);
        var _I = parseInt(_A) * 365 * 0.95;
        $("#five-earnings-D").val(_D.toFixed(2));
        $("#five-earnings-E").val(_E.toFixed(2));
        $("#twenty-earnings-F").val(_F.toFixed(2));
        $("#twenty-earnings-G").val(_G.toFixed(2));
        $("#generated-energy-I").val(_I.toFixed(2));
    }
</script>
</body>
</html>